@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>View <a asp-controller="TournamentEarnings" asp-action="Index">All-Time Tournament Earnings</a>.</p>
</div>
