@model Pegler.Leaderboard.Models.TournamentEarnings.PlayersVM


<table>
    <thead>
        <tr>
            <th>Player</th>
            <th>Winnings</th>
            <th>Native Of</th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null)
        {
            foreach (var player in Model.Players)
            {
                <tr>
                    <td>@player.Name</td>
                    <td>@player.Winnings</td>
                    <td>@player.Country</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">No players here</td>
            </tr>
        }

    </tbody>
</table>

